.signup-container{
   background: #e0f0fd;
   height: 100vh;
}
.form-container{
    margin: 80px auto 0 auto;
    max-width: 400px;
    text-align: center;
    
}
.form-wrapper{
    margin: 0 auto;
}
.form-wrapper label{
    /* text-align: left; */
    display: none;
    font-size: 20px;
    color:#011b2f;
}
.signup-container h1{
    font-size: 45px;
    margin-bottom: 30px;
    letter-spacing: 1.9px;
    color: #011b2f;
}
.form-wrapper input{
    width: 100%;
    font-size: 15px;
    padding: 20px 10px;
    margin: 20px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 9px;
    display: block;
    border-left: 10px solid #011b2f;
    box-shadow: 0 10px 10px  #01143985;
    filter: drop-shadow(0 6px 20px #0e0e0e0a);
    -webkit-filter: drop-shadow(0 6px 20px #0000000a);
}
.form-wrapper button{
    background: #011b2f;
    color:#fff;
    border: 0;
    padding: 10px;
    border-radius:8px ;
    cursor:pointer;
    font-size: 15px;
    margin-top: 10px;
}
.form-wrapper button:hover{
    background-color: #fff;
    color:#011b2f;
    transition:all 500ms ease;
}