.signup-container{
   height: 100vh;
}
.form-container{
    margin: 150px auto 0 auto;
    max-width: 700px;
    text-align: center;
    border:3px solid #3f4852;
    border-radius: 15px;
}
.form-wrapper{
    margin: 0 auto;
    padding: 20px 30px;
    
}
.form-wrapper label{
    /* text-align: left; */
    display: none;
    font-size: 20px;
    color:#011b2f;
}
.signup-container h1{
    font-size: 25px;
    margin-bottom: 20px;
    letter-spacing: 1.9px;
    color: #011b2f;
    text-align: left;
}
.form-wrapper input{
    width: 100%;
    font-size: 15px;
    padding: 20px 10px;
    margin: 20px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    display: block;
    border-left: 10px solid #011b2f;
    box-shadow: 0 10px 10px  #01143985;
    filter: drop-shadow(0 6px 20px #0e0e0e0a);
    -webkit-filter: drop-shadow(0 6px 20px #0000000a);
}
.form-wrapper button{
    width:100px;
    display: block;
    background: #011b2f;
    font-size: 40px;
    color:#fff;
    border: 0;
    padding: 15px;
    cursor:pointer;
    font-size: 15px;
    margin-top: 10px;
}
.form-wrapper button:hover{
    border: 1px solid #011b2f;
    transition:all 500ms ease;
}