.signup-container{
   /* height: 100vh; */
   margin: 0;
}
.form-container{
    margin: 150px auto 0 auto;
    max-width: 700px;
    text-align: center;
    height: 100vh;
}
.form-wrapper{
    margin: 0 auto;
    padding: 20px 30px;
    display: block;
}
.form-items label{
    text-align: left;
    display: block;
    font-size: 20px;
    color:#011b2f;
}
.password-flex{
    display:flex;
    justify-content: space-between;
}
#show-p{
    color:#011b2f;
    font-size: 20px;
    cursor: pointer;
}
.signup-container h1{
    font-size: 25px;
    margin-bottom: 25px;
    letter-spacing: 2.5px;
    color: #011b2f;
    text-align: left;
}
.form-items input{
    width: 100%;
    font-size: 15px;
    padding: 15px 10px;
    margin: 20px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    display: block;
    border-left: 5px solid #011b2f;
    box-shadow: 0 10px 10px  #01143985;
    filter: drop-shadow(0 6px 20px #0e0e0e0a);
    -webkit-filter: drop-shadow(0 6px 20px #0000000a);
}
.form-items button{
    width:100px;
    display:block;
    background: #011b2f;
    font-size: 40px;
    color:#fff;
    border: 0;
    padding: 15px;
    cursor:pointer;
    font-size: 15px;
    margin-top: 10px;
}
.form-items button:hover{
    border: 1px solid #011b2f;
    transition:all 500ms ease;
}