.container{
  position:relative;
  width:100%;
  height:25rem;
  margin:0;
  /* overflow:hidden; */
}
.skill {
  margin:0rem 4rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:30rem;
  top:-6rem;
  position:relative;
  background: linear-gradient(70deg, #5b2993, #31004f 100%);
  padding: 30px 70px;
  z-index: 100;
  border-radius:50px;
  opacity:0;
  transform:translateX(-10%);
  transition:0.3s ease-in-out;
}
.skill.in{
  opacity:1;
  transform:translateX(0%);
}
.link{
  text-decoration: none;
}
.container h1{
  font-size:1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color:#FFF;
}
.card-bg{
  position:absolute;
  left:-15px;
  bottom:0;
  height:60%;
  width:100%;
  z-index:0;
}