.container{
  position:relative;
  width:100%;
  height:25rem;
  margin:0;
}
.skill {
  margin:0rem 4rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:30rem;
  top:-6rem;
  position:relative;
  background: linear-gradient(150deg, #262626, #181719 100%);
  padding: 30px 70px;
  z-index: 100;
  border-radius:50px;
  opacity:0;
  transform:translateX(-10%);
  overflow-x: clip;
  transition:0.3s ease-in-out;
}
.skill.in{
  opacity:1;
  transform:translateX(0%);
}
.link{
  text-decoration: none;
}
.container h1{
  font-size:1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color:#FFF;
}
.card-bg{
  position:absolute;
  left:-15px;
  bottom:0;
  height:60%;
  width:100%;
  z-index:0;
}
.wrapper .slide-card{
  margin-bottom:1rem;
}
.wrapper .card{
    background: linear-gradient(45deg, #393939, #181719);
    overflow: hidden;
    box-shadow: 0px 8px 5px #000;
    padding: 0 0 2rem;
    border-radius: 2rem;
}
