.skill {
  margin:2rem 4rem;
  padding: 0 0 50px 0;
  position: relative;
  z-index: 100;
  opacity:0;
  transform:translateX(-10%);
  transition:0.3s ease-in-out;
}
.skill.in{
  opacity:1;
  transform:translateX(0%);
}
.link{
  text-decoration: none;
}
.container h1{
  font-size:1.5rem;
  text-align: center;
  margin: 1rem auto;
  color:#666;
}