
.hero-container::before{
    content:' ';
    background-image: url('../../public/images/img-16.jpg');
    background-attachment:fixed;
    top:0;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(3px);
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    transition: all 1000ms ease;
}

.hero-container:hover::before{
    filter:blur(0px);
    transition: all 1500ms ease;
}

.hero-container{
    height:100vh;
    width:100%;
    object-fit:contain;
    transition: all 500ms ease;
}
.hero-wrapper{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:11rem 0;
}

.hero-container  h1{
    color: #fff;
    font-size:100px;
    color:#fff;
    transition: all 500ms ease;
}

.hero-container p{
    margin-top:8px;
    color:#fff;
    font-size:32px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 1000ms ease-in;
}
.hero-btns{
    margin-top:32px;
    transition: all 1000ms ease-in;
}

.hero-btns .btn{
    margin:6px;
}

.fa-regular.fa-circle-play{
    margin-left: 4px;
}

.btn-mobile{
    display:block;
    text-decoration: none;
}

.btn{
    width:100%
}

@media screen and (max-width:960px){
    .hero-container h1{
        font-size:70px ;
        margin-top: -150px;
    }
}

@media screen and (max-width:768px){
    .hero-container h1{
        font-size:60px ;
        margin-top: -90px;
    }

    .hero-container p{
        font-size: 20px;
        margin: 9px 0 0 0;
    }

    .btn-mobile{
        display:block;
        text-decoration: none;
    }

    .btn{
        width:100%
    }
}

@media(max-height:640px){
    .hero-container h1{
        font-size:60px ;
        margin-top: -90px;
    }

    .hero-container p{
        font-size: 20px;
    }

    .btn-mobile{
        display:block;
        text-decoration: none;
    }

    .btn{
        width:100%
    }
}