video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.hero-container{
    background:url(/public/images/img-10.jpg) center center/center no-repeat;
}